<section class="main-content">
    <md-content class="md-whiteframe-z1 md-padding">
        <p>This is the partial for view 2.</p>

        <p>
            Showing of 'interpolate' filter:
            {{ 'Current version is v%VERSION%.' | interpolate }}
        </p>

        4-way binding with Remote Syncing:
        <md-button class="md-raised md-primary" ng-click="toggleOnline()">{{!online ? 'disabled' : 'enabled' }}</md-button>
    </md-content>
</section>

<section class="main-content">
    <md-content class="md-whiteframe-z1 md-padding" md-theme="light-blue-dark">
        <md-subheader class="md-primary">Add A book to the Collection:</md-subheader>
        <form>
            <div class="row" layout="row" layout-sm="column" layout-md="column">
                <md-text-float label="title" ng-model="title"></md-text-float>
                <md-text-float label="description" ng-model="description" class="long"></md-text-float>
                <div layout="row" layout-align="start end">
                    <md-button class="md-raised" ng-click="books.$add({title: title, description: description})">Add</md-button>
                </div>
            </div>
        </form>
    </md-content>
</section>

<section class="main-content">
    <md-content class="md-whiteframe-z1 md-padding">
        <md-list>
            <md-item ng-repeat="item in books">
                <md-item-content>
                    <div class="row" layout="row" layout-sm="column" layout-md="column">
                        <md-text-float label="title" ng-model="item.title"></md-text-float>
                        <md-text-float label="description" ng-model="item.description" class="long"></md-text-float>
                        <div layout="row" layout-align="start center">
                            <md-button class="md-raised md-primary" ng-click="books.$update(item)">Update</md-button>
                            <md-button class="md-raised md-warn" ng-click="books.$remove(item)">Remove</md-button>
                        </div>
                    </div>
                </md-item-content>
                <md-divider ng-if="!$last"></md-divider>
            </md-item>
        </md-list>
    </md-content>
</section>
