/* app css stylesheet */

md-content.md-content-main {
    background: #ececec;
}

.main-content {
    max-width: 1200px;
    margin: 10px auto;
    background: #fff;
}

.selectable-list md-item md-item-content {
    cursor: pointer;
}

.selectable-list md-item.selected md-item-content {
    background: #fafafa;
}

.add-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
